<!--
  Generated template for the ListEventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de eventos</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="assistance" color="primary">
      <ion-segment-button value="Registrar">
        <ion-icon name="camera"></ion-icon>
        Registrar asistencia
      </ion-segment-button>
      <ion-segment-button value="alumnos">
        <ion-icon name="bookmark"></ion-icon>
        Asistencia de alumnos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>



<ion-content >

  <div [ngSwitch]="assistance">
    <ion-list *ngSwitchCase="'Registrar'">
      <ion-list inset >
        <button ion-item *ngFor="let list_event of list_events"  (click)="eventRegister()">
          <h2>{{ list_event.name | uppercase }}</h2>
          <p>{{ list_event.date }}</p>
        </button>
      </ion-list>
    </ion-list>

    <ion-list *ngSwitchCase="'alumnos'">
      <ion-list inset >
        <button ion-item *ngFor="let list_event of list_events">
          <h2>{{ list_event.name | uppercase }}</h2>
          <p>{{ list_event.date }}</p>
        </button>
      </ion-list>
    </ion-list>
  </div>

</ion-content>
